/*maps*/
$width:100px;
$height:100px;

$red:nombre;

$redes:(
    facebook : blue, 
    instagram : rgb(196, 14, 251),
    telegram : rgb(15, 1, 64),
    tiktok:rgb(230, 10, 10),
    google:rgb(238, 238, 238),
    twitter:rgb(0, 226, 226) 

);

$altura: 100px;